:root {
    --color-white: #FFFFFF;
    --color-black: #333333;
    --color-pink: #f8ebe9;
    --color-gray: #F2F2F2;

    max-width: 1920px;
    height: 100%;

    font-family: Roboto, sans-serif;
    color: var(--color-black);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%; 
    
    background: var(--color-pink);
}

.page {
    width: 1000px;
    min-height: 647px;

    background: url(../img/background.jpg) no-repeat left / auto 100% var(--color-white);
    box-shadow: 0 50px 40px -25px rgba(160, 40, 1, 0.4);
}

.page__header {
    margin-bottom: 85px;
    padding: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 7px;

    color: var(--color-black);
    text-decoration: none;

    opacity: 0.6;
}

.back-link:hover {
    opacity: 1;
}

.back-link__arrow {
    width: 14px;
    height: 14px;

    opacity: 0.6;
}

.menu-btn {
    display: none;
}

.navigation-list {
    display: flex;
    gap: 30px;
}

.navigation-list__link {
    display: block;

    color: var(--color-black);
    text-decoration: none;

    opacity: 0.6;
}

.navigation-list__link:hover,
.navigation-list__link_active {
    opacity: 1;
}

.content {
    max-width: 640px;
    padding-left: 100px;
    padding-right: 90px;
}

.page__content {
    margin-left: auto;
}

.content__title {
    position: relative;
    margin-bottom: 30px;

    font-family: "Playfair Display", serif;
    font-size: 60px;
    line-height: 67px;
    text-wrap: pretty;
}

.content__title::after {
    position: absolute;
    bottom: 25px;
    right: 10px;

    width: 100px;
    height: 4px;

    background-color: var(--color-black);
    content: '';
}

.content__info {
    margin-bottom: 43px;

    font-family: "Playfair Display", serif;
    font-size: 18px;
    line-height: 21.33px;
}

.content__author {
    font-weight: 600;
}

.content__wrapper {
    display: flex;
    gap: 45px;
}

.content__preview-link {
    position: relative;

    display: block;
    margin-bottom: 15px;
    width: 176px;
    height: 111px;
}

.content__preview-link::after {
    position: absolute;
    top: 32%;
    left: 39%;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: url(../img/play.svg) no-repeat center / 24px 24px rgba(255, 255, 255, 0.7);
    content: '';
}

.content__preview-img {
    width: 100%;
}

.photos-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    color: var(--color-black);

    text-decoration: none;
}

.photos-link__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.photos-link__arrow {
    width: 14px;
    height: 14px;

    transform: translateY(-1px);
}

.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 992px) {
    .page {
        background-image: none;
    }

    .page__content {
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    .page {
        width: 100vw;
        height: 100vh;

        background: url(../img/background.jpg) no-repeat 80% 120% /* -190px -414px */ / 175% var(--color-white);
    }

    .page_overlay {
        position: relative;
    }

    .page_overlay::before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.4);
        content: '';
    }

    .page__header {
        padding: 15px;
        margin-bottom: 15px;
    }

    .back-link,
    .back-link__arrow {
        opacity: 1;
    }

    .back-link__arrow {
        width: 22px;
        height: 22px;
    }

    .back-link__text {
        display: none;
    }

    .menu-btn {  
        z-index: 3;  
        position: relative;    
        display: block;
        width: 25px;
        height: 21px;
        padding: 0;
        margin: 0;

        border: none;
        background: inherit;
    }

    .menu-btn__burger {
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 1.5px;

        background-color: var(--color-black);
        transition: transform 0.2s;
    }

    .menu-btn::after,
    .menu-btn::before {
        position: absolute;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: var(--color-black);
        content: '';
        transition: transform 0.2s;
    }

    .menu-btn::after {
        bottom: 0;
    }

    .menu-btn::before {
        top: 0;
    }

    .menu-btn.menu-btn_active::before {
        transform: rotate(45deg);
        top: 10px;
    }

    .menu-btn.menu-btn_active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu-btn_active .menu-btn__burger {
        transform: scale(0);
    }

    .navigation-list {
        z-index: 2;
        position: fixed;
        top: -100%;
        left: 0;

        display: block;
        width: 100%;
        padding: 15px;

        background-color: var(--color-white);
    }

    .navigation-list_active {
        top: 0;
    }

    .navigation-list__link {
        display: block;

        padding: 10px 0;

        font-size: 14px;
        
        border-top: var(--color-gray) solid 2px;
        opacity: 1;
    }

    .navigation-list__item:first-child .navigation-list__link {
        padding-top: 5px;
        border-top: none;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    .content__title {
        margin-bottom: 20px;
        padding: 0 15px;
        
        font-size: 40px;
        line-height: 44px;
    }

    .content__info {
        margin-bottom: 30px;
        padding: 0 15px;
        
        font-size: 16px;
    }

    .content__title::after {
        display: none;
    }

    .content__wrapper {
        display: block;
    }

    .content__preview-wrapper {
        margin: 0 0 30px;
        padding: 0 15px;
    }

    .photos-link {
        gap: 10px;

        color: var(--color-white);
    }

    .photos-link__arrow {
        width: 22px;
        height: 22px;

        fill: var(--color-white);
    }

    .description-wrapper {
        padding: 15px 15px 100%;
        background-color: var(--color-white);
    }

    .description {
        width: 280px;

        font-size: 14px;
        line-height: 24px;
    }
}