:root {
    --color-white: #ffffff;
    --color-gray: #AAAAAA;
    --color-light-gray: #DEDEDE;
    
}

* {
    box-sizing: border-box;
  }

html {
    max-width: 1920px;
    height: 100%;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    margin: 0;

    background: url(img/background.jpg) fixed no-repeat center / cover;
}

main {
    width: 340px;
    height: 317px;
    margin: 0 auto;

    background-color: var(--color-white);
    border-radius: 4px;
}

.dots-container {
    display: flex;
    justify-content: center;
    gap: 6px;

    width: 50px;
    height: 6px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: var(--color-light-gray);
}

.dot_active {
    background-color: var(--color-gray);
}

.title {
    margin: 0;
    margin-bottom: 31px;

    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    color: #333333;
}

.payment-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.payment-item {
    font-size: 13px;
    line-height: 15.23px;
    color: var(--color-gray);
}

.payment-item:hover {
    background-color: #F1F1F1;
}

.payment-item__link {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 15px 30px;

    border-top: 1px solid  var(--color-light-gray);
    text-decoration: none;
    color: inherit;
}

.payment-item__logo {
    width: 40px;
    height: 25px;
}

.payment-item__name {
    margin: 0;
}

.payment-item_active {
    position: relative;

    color: #000000;
}

.payment-item_active::after {
    content: '';

    position: absolute;
    right: 15px;
    top: 19px;

    width: 20px;
    height: 20px;

    background: url(img/check.svg) no-repeat center / 20px 20px;
}

.next-step-link {
    display: block;

    width: 340px;
    height: 50px;
    
    text-decoration: none;
    color: var(--color-white);

    border-radius: 0 0 4px 4px;
    background-color: #5A8BDD;
}

.next-step-link:hover {
    background-color: #558EF3;
}

.next-step-link:active {
    border-top: 2px solid  var(--color-white);
}

.next-step-link__p {
    width: 84px;
    margin: 0 auto;
    padding-top: 18px;
    padding-right: 7px;

    font-size: 12px;
    line-height: 14.06px;

    background: url(img/arrow.svg) no-repeat right bottom / 14px 14px;
}